.rectangle143 {
  background-color: #436389;
  opacity: 0.95;
  width: 526px;
  height: 367px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-right: 40px;
  text-align: left;
}
.rectangle-header {
  width: 475px;
  /* height: 41px; */
  font-family: Montserrat-Bold;
  font-size: 24px;
  font-weight: bolder;
  color: #f3b143;
  word-wrap: break-word;
}
.rectangle-subheading {
  font-family: Montserrat-SemiBold;
  font-size: 22px;
  color: white;
}
.rectangle-content {
  width: 456px;
  height: 201px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.75;
  color: white;
}
.rectangle-button {
  width: 198px;
  height: 37px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  align-self: flex-end;
  padding: 6px;
}
.rectangle-link {
  /* width: 198px; */
  height: 37px;
  align-self: flex-end;
}
.button-words {
  width: 107px;
  height: 20px;
  font-family: Cabin;
  font-size: 18px;
  color: #4a688d;
  /* line-height: 37px; */
}
.subheader-class {
  height: 400px;
}
.subheader-button {
  border-radius: 25px;
  width: 205.9px;
  height: 38.5px;
}
.subheader-heading {
  width: 277.7px;
  height: 42.6px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bolder;
  color: #f3b143;
  margin: 5px 0;
}
.no-button {
  display: none;
}

@media screen and (max-width: 426px) {
  .rectangle143 {
    width: 100%;
    height: 77vw;
    padding: 5vw;
    justify-content: center;
  }
  .rectangle-header {
    width: 90%;
    font-size: 18px;
    margin: 0;
  }
  .rectangle-subheading {
    font-family: Montserrat-SemiBold;
    font-size: 12px;
    color: white;
  }
  .rectangle-content {
    /* padding-top: 0%; */
    width: 100%;
    /* height: 100%; */
    height: unset;
    font-family: Montserrat;
    font-size: 3.5vw;
    line-height: 1.75;
    color: white;
    margin: 2vh 0;
  }
  .rectangle-volunteer-button,
  .rectangle-button {
    /* width: 99px; */
    padding: 6px 9px;
    width: auto;
    height: 32px;
  }
  .button-words {
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
  }
  /* .rectangle-volunteer-button{
    margin-top:15px;
    width: 100px; 
  } */
}
