.stand-with-box {
  height: 121px;
  text-align: center;
  margin: 0 auto;
}
.stand-with-text {
  font-family: Montserrat;
  font-size: 40px;
  color: white;
  line-height: 121px;
  margin: 0;
}
.sw-involved {
  width: 1318px;
  background-color: #c2cbd680;
}
.sw-volunteer {
  width: 1440px;
  background-color: hsla(38, 89%, 71%, 0.9);
}

@media screen and (max-width: 426px) {
  .stand-with-box {
    width: 87%;
    margin-top: -80px !important ;
    height: 80px !important;
  }
  
  .sw-involved {
    width: 87%;
  }

  .sw-volunteer {
    width: 100%;
    margin-top: initial !important;
  }

  .stand-with-text {
    font-size: 25px;
    line-height: 90px;
  }
}
