.action-card {
  width: 296px;
  height: 406px;
  position: relative;
  overflow: hidden;
}
.action-card-banner {
  position: absolute;
  width: 296px;
  text-align: center;
  height: 76px;
  background-color: hsla(206, 61%, 28%, 0.6);
  top: 222px;
}
.action-text {
  font-family: Montserrat-Bold;
  font-size: 30px;
  font-weight: bold;
  color: #f3b344;
  margin: 0;
  line-height: 76px;
}
.action-image {
  opacity: 0.55;
}
.action-volunteer {
  object-position: -450px -70px;
  height: 137%;
}
.way-to-give {
  object-position: -150px -10px;
  height: 105%;
}
.events {
  object-position: -35px 0;
  height: 105%;
}
.newsletter {
  object-position: -160px 0px;
  height: 100%;
}
.action-hover-text {
  color: white;
  background-color: hsla(206, 61%, 28%, 0.75);
  margin: 0;
  height: 125px;
  padding: 15px;
  padding-left: 20px;
  font-family: Cabin;
  font-size: 21px;
  text-align: left;
  display: none;
}
.action-card:hover .action-image {
  opacity: 1;
}
.action-card:hover .action-card-banner {
  background-color: hsla(206, 61%, 28%, 1);
}
.action-card:hover .action-hover-text {
  display: inline-block;
}

@media screen and (max-width: 426px) {
  .action-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1400px;
    overflow: visible;
    padding-bottom: 400px !important;
    box-sizing: unset;
    margin-left: 37px;
  }
  .action-card {
    width: 365px;
    height: 295px;
    margin-bottom: 60px;
  }
  .involved-hero2 {
    height: 805px;
    margin-bottom: 800px !important;
  }
  .action-image {
    opacity: 1;
  }
  .newsletter,
  .events,
  .way-to-give,
  .action-volunteer {
    width: 345px;
    height: 295px;
    object-fit: cover;
    object-position: unset;
    top: 50%;
  }
  .action-card-banner {
    width: 345px;
    height: 56.89px;
    top: 130px;
  }
  .action-text {
    font-size: 22px !important;
    line-height: 60px;
  }
  .events {
    margin-top: 20px;
  }
  .newsletter {
    margin-top: 20px;
  }
}
