div.HeroGet {
  position: relative;
}
div.HeroGetRectangle143 {
  position: absolute;
  top: 70px;
  right: 25px;
  z-index: 1;
}

@media screen and (max-width: 426px) {
  .img-wrapper {
    height: 30px;
    background-size: contain;
    background-position-y: 150px;
    background-position-x: -300px;
  }
}
