div.HeroGet {
  position: relative;
}
div.HeroGetRectangle143 {
  position: absolute;
  top: 70px;
  right: 25px;
  z-index: 1;
}

@media screen and (max-width: 426px) {
  .HeroGet {
    margin-bottom: 285px;
  }
  .img-wrapper {
    height: 500px !important;
    width: 100% !important;
    margin-bottom: 215px !important;
    background-position-x: unset !important;
  }

  .HeroGetRectangle143 {
    left: 5%;
    top: 65% !important;
  }
}
