div.getInvolved-impact-section {
  display: grid;
  grid-template-columns: 40px 27px 20px 88px 500px 70px 590px 1fr; 
  grid-template-rows: 75px 112px 144px 33px 141px 86px;
}

div.gradient-block-get-involved {
  background: linear-gradient(90deg, rgba(241,195,144,1) 0%, rgba(240,199,189,1) 60%, rgba(255,255,255,1) 100%);
  grid-row: 2 / 6; 
  grid-column: 4 / 9;
  height: 357px;
}

h1.see-your-impact {
  grid-column: 4;
  grid-row-start: 2;
  padding-left: 18px;
  font-family: Helvetica, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
  width: 400px;
  color: #1C4D73;
}