.slides {
  width: 1442px;
  height: 625px;
}

.slide {
  height: 625px;
}

.friends {
  object-fit: cover;
  object-position: 0px 75%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.writing,
.studying {
  object-fit: cover;
  object-position: 0px 5%;
}

.art {
  object-fit: cover;
  object-position: -1px 65%;
}

.thumbs {
  display: none;
}

.carousel-status {
  display: none;
}

.slide {
  padding-right: 75px;
  background-color: white !important;
}

.slide1 {
  position: relative;
}

.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4 {
  position: absolute;
  left: 62.46%;
  right: 12.92%;
  top: 11.68%;
  bottom: 29.92%;
  z-index: 2;
}

.rectangle1 {
  left: 65.96%;
}

.slide3 {
  margin-left: -75px;
  margin-right: 75px;
}

.container {
  background-color: white;
}

/* Mobile */
@media screen and (max-width: 426px) {
  .slides {
    /* position: absolute; */
    /* height: 0%; */
    width: 100%;
    /* height: 800px; */
    /* z-index: 1; */
  }
  .slide {
    /* position: absolute; */
    height: 70vh;
  }
  .control-dots {
    position: absolute;
    top: 94%;
    right: 3%;
    margin: 0 !important;
  }
  .dot {
    margin: 3px !important;
  }
  .rectangle1,
  .rectangle2,
  .rectangle3,
  .rectangle4 {
    /* position: absolute;
    width: 90%;
    height: 90%;
    top: 60%;
    bottom: 90%;
    z-index: 2; */
    /* width: 280px; */
    /* position: ; */
    /* position: ; */
    position: absolute;
    height: 40vh;
    width: 85vw;
    left: 28px;
    /* right: 26.25%; */
    top: 30.53%;
    bottom: 20px;
    /* z-index: 2 !important; */
  }
  .studying,
  .writing {
    height: 95%;
    /* width: 50% !important; */
    object-position: 0px -10px;
    object-fit: cover;
  }
  .slide1,
  .slide2 {
    height: 400px;
  }

  .slide {
    padding-right: 0;
  }

  .slide3 {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Tablet */
