.slides {
  width: 1442px;
  height: 625px;
  padding-right: 150px;
}

.slide {
  width: 1442px;
  height: 625px;
}

.friends {
  object-fit: cover;
  object-position: 0px 75%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.art{
  object-fit: cover;
  object-position: 2px 65%;
}


.thumbs {
  display: none;
}

.carousel-status {
  display: none;
}

.test{
  background-color: white;
}
