.slides {
  width: 1442px;
  height: 625px;
  position: relative;
}

.slide {
  height: 625px;
}

.friends {
  object-fit: cover;
  object-position: 0px 75%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.writing,
.studying {
  object-fit: cover;
  object-position: 0px 5%;
}

.art {
  object-fit: cover;
  object-position: -1px 65%;
}

.thumbs {
  display: none;
}

.carousel-status {
  display: none;
}

.slide {
  padding-right: 75px;
  background-color: white !important;
}

.slide1 {
  position: relative;
}

.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4 {
  position: absolute;
  left: 62.46%;
  right: 12.92%;
  top: 11.68%;
  bottom: 29.92%;
  z-index: 2;
}

.rectangle1 {
  left: 65.96%;
}

.slide3 {
  margin-left: -75px;
  margin-right: 75px;
}

.container {
  background-color: white;
}

/* Mobile */
@media screen and (max-width: 426px) {
  .slides {
    width: 100%;
  }
  .slide {
    height: 70vh;
  }
  .control-dots {
    position: absolute;
    top: 94%;
    right: 3%;
    margin: 0 !important;
  }
  .dot {
    margin: 3px !important;
  }
  .rectangle1,
  .rectangle2,
  .rectangle3,
  .rectangle4 {
    position: absolute;
    height: 40vh;
    width: 85vw;
    left: 28px;
    top: 49.53%;
    bottom: 20px;
  }
  
  .rectangle2,
  .rectangle3,
  .rectangle4 {
    top: 42%;
  }
  .rectangle1{
    top:55%;
  }

  .studying,
  .writing {
    height: 95%;
    object-position: 0px -10px;
    object-fit: cover;
  }
  .friends {
    object-fit: fill;
    object-position: 0px -150px;
  }
  .art {
    object-fit: fill;
    object-position: 0px -130px;
  }
  .slide1,
  .slide2 {
    height: 400px;
  }

  .slide {
    padding-right: 0;
  }

  .slide3 {
    margin-left: 0;
    margin-right: 0;
  }
}
