.faces-div {
  background-color: #c2cbd6;
  height: 730px;
  position: relative;
  margin-top: 20px;
  right: 0;
}
.faces-main {
  display: flex;
  flex-direction: row;
}
.faces-triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid white;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.mobile-flower {
  display: none;
}
.flower2 {
  position: absolute;
  width: 1040px;
  height: 825px;
  right: 0;
  background-repeat: no-repeat;
  bottom: 0;
}
.Rectangle178 {
  width: 353px;
  height: 65px;
  border-radius: 15px;
  background-color: #4b688a;
}
.faces-text {
  width: 333px;
  height: 45px;
  font-family: Montserrat-ExtraBold;
  font-size: 34px;
  font-weight: 800;
  line-height: 65px;
  color: #f3b143;
  padding: 10px;
}
.faces-left-side {
  padding: 105px 20px 20px 38px;
  width: 735px;
}
.video {
  margin-top: 20px;
  position: relative;
}
.faces-right-side {
  padding: 20px;
  width: 735px;
  padding-top: 80px;
}
.faces-back-rectangle {
  width: 509px;
  height: 348px;
  background-color: #1c4d7391;
  position: absolute;
  top: 205px;
  right: 45px;
}
.faces-front-rectangle {
  width: 509px;
  height: 348px;
  background-color: #1c4d73;
  position: absolute;
  top: 250px;
  right: 80px;
  font-family: Cabin-Bold;
  font-size: 36px;
  color: white;
  padding: 0 20px;
  text-align: center;
  line-height: 55px;
}
.elevenK {
  font-size: 48px;
  color: #f3b143;
}
.young-people {
  font-size: 44px;
  color: #f3b143;
}
.discover-and-achieve {
  font-size: 42px;
}
.greatest-potential {
  font-size: 42px;
  color: #f3b143;
}
.faces-front-box-text {
  margin-top: 20px;
}

@media screen and (max-width: 426px) {
  .faces-div {
    height: 800px;
    margin-top: 20px;
    background-color: #a7c3e6;
    position: relative;
  }
  .faces-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .flower2 {
    display: none;
  }
  .mobile-flower {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .4;
    background-size: 200% 118%;
    background-position: -190px -36px;
  }
  .Rectangle178 {
    width: 50%;
    height: 35px;
    border-radius: 8px;
    background-color: #4b688a;
    margin-top: 16%;
    margin-left: 14px;
  }
  .faces-text {
    width: 90%;
    height: 35px;
    font-size: 4.5vw;
    font-weight: 800;
    line-height: 35px;
  }
  .faces-left-side {
    padding: 0;
    width: 100%;
    position: absolute;
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  .video {
    margin: 25px auto;
    position: relative;
    width: 95vw;
    height: 56vw;
  }
  .faces-right-side {
    padding: 0;
    width: 100%;
    position: absolute;
    height: 800px;
  }
  .faces-back-rectangle {
    width: 79vw;
    height: 56vw;
    background-color: #1c4d7391;
    position: relative;
    margin: 52% 5.25% 0 25%;
  }
  .faces-front-rectangle {
    width: 79vw;
    height: 56vw;
    background-color: #1c4d73;
    left: 0;
    font-family: Cabin-Bold;
    font-size: 4.25vw;
    color: white;
    text-align: center;
    line-height: 30px;
    margin: 50% 15.75% 0 5.25%;
    display: flex;
    align-items: center;
  }
  .elevenK {
    font-size: 6vw;
    color: #f3b143;
  }
  .young-people {
    font-size: 6vw;
    color: #f3b143;
  }
  .discover-and-achieve {
    font-size: 6.8vw;
  }
  .greatest-potential {
    font-size: 6.5vw;
    color: #f3b143;
  }
  .faces-front-box-text {
    margin: 0;
  }
}
