.faces-div {
  /* background-image: url('../../assets/Homepage/Flower 2.svg'); */

  background-color: #c2cbd6;
  height: 830px;
  position: relative;
  margin-top: 20px;
  /* display: flex; */
  right: 0;
}
.faces-main {
  display: flex;
  flex-direction: row;
}
.faces-triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid white;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.Rectangle178 {
  width: 353px;
  height: 65px;
  border-radius: 15px;
  background-color: #4b688a;
}
.faces-text {
  width: 333px;
  height: 45px;
  font-family: Montserrat-ExtraBold;
  font-size: 34px;
  font-weight: 800;
  line-height: 65px;
  color: #f3b143;
  padding: 10px;
}
.faces-left-side {
  padding: 20px;
  width: 735px;
  padding-top: 120px;
}
.video {
  margin-top: 20px;
  position: relative;
}
.flower2 {
  position: absolute;
  width: 1040px;
  height: 925px;
  right: 0;
  background-repeat: no-repeat;
  bottom: 0;
}
.faces-right-side {
  padding: 20px;
  width: 735px;
  padding-top: 120px;
}
.faces-back-rectangle {
  width: 509px;
  height: 348px;
  background-color: #1c4d7391;
  position: absolute;
  top: 210px;
  right: 30px;
}
.faces-front-rectangle {
  width: 509px;
  height: 348px;
  background-color: #1c4d73;
  position: absolute;
  top: 260px;
  right: 70px;
  font-family: Cabin-Bold;
  font-size: 36px;
  color: white;
  padding: 0 20px;
  text-align: center;
  line-height: 55px;
}
.elevenK {
  font-size: 48px;
  color: #f3b143;
}
.young-people {
  font-size: 44px;
  color: #f3b143;
}
.discover-and-achieve {
  font-size: 42px;
}
.greatest-potential {
  font-size: 42px;
  color: #f3b143;
}
.faces-front-box-text {
  margin-top: 20px;
}