.footer {
  position: relative;
  width: 1439px;
  height: 226px;
  background-color: #1c4d73;
}
.address {
  position: absolute;
  height: 15px;
  left: 29.8px;
  top: 22px;
  font-family: Cabin;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  color: #b5b5b5;
}
.youtube-icon {
  position: relative;
  left: 14px;
  bottom: 2px;
}

.fb-icon,
.twitter-icon {
  padding-left: 14px;
}
.footer-icons {
  position: absolute;
  width: 290px;
  height: 30px;
  left: 29.8px;
  top: 129px;
}
.copyright {
  position: absolute;
  height: 17px;
  left: 29.8px;
  top: 149px;
  font-family: Cabin;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b5b5b5;
}
.ending {
  position: absolute;

  height: 17px;
  left: 29.8px;
  top: 172px;
  font-family: Cabin;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b5b5b5;
}

@media screen and (max-width: 426px) {
  .footer {
    width: 100%;
  }
  .address,
  .ending,
  .copyright {
    margin-left: -10px;
    margin-top: -5px;
    font-weight: 500;
    font-size: 12px;
  }
  .footer-icons {
    margin-left: -10px;
    margin-top: -20px;
  }
}
