.top-nav {
  background-color: #1e1e1e;
  text-align: right;
  height: 50px;
  padding: 5px;
}
.nav-icons {
  margin-top: 5px;
  margin-right: 50px;

}
.twitter-icon{
  margin-bottom: 3px;
}
.main-nav {
  background-color: #1c4d73;
  height: 86px;
  text-align: right;
  padding: 35px;
  position: relative;
  padding-right: 85px;
}
.about-the-door-nav,
.programs-services-nav,
.membership-nav,
.news-nav,
.get-involved-nav,
.contact-nav,
.donate-nav {
  margin: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20%;
}
.donate-nav {
  background: #ff0000;
  border-radius: 15px;
  padding: 5px 25px;
}
#door-logo {
  width: 126px;
  height: 71px;
  position: absolute;
  top: 6px;
  left: 30px;
  bottom: 2px;
}
.get-involved-drop-down {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 955px;
  top: 85px;
  width: 139px;
  height: 180px;
  background: #ffffff;
  z-index: 2;
  text-align: center;
  box-sizing: border-box;
  display: none;
}
.volunteer-option,
.ways-to-give-option,
.events-option,
.email-newsletter-option {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 139px;
  height: 45px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #1c4d73;
}
.volunteer-option {
  border-top: 4px solid #f3b143;
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}
.events-option {
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}
.ways-to-give-option {
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}
.get-involved-nav-div {
  height: 86px;
  display: inline-block;
}
.get-involved-nav-div:hover .get-involved-drop-down {
  display: inline;
}
.get-involved-drop-down:hover {
  display: inline;
}
.programs-services-nav-div {
  height: 86px;
  display: inline-block;
}
.programs-services-nav-div:hover .programs-services-drop-down {
  display: inline;
}
.programs-services-drop-down:hover {
  display: inline;
}
.about-the-door-nav-div {
  height: 86px;
  display: inline-block;
}
.about-the-door-nav-div:hover .about-the-door-drop-down {
  display: inline;
}
.about-the-door-drop-down:hover {
  display: inline;
}
.about-the-door-drop-down {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 350px;
  top: 85px;
  width: 183px;
  height: 380px;
  background: #ffffff;
  z-index: 2;
  text-align: center;
  display: none;
}
.option1,
.option1-1 {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 183px;
  height: 38px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  color: #1c4d73;
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}
.option1-1 {
  border-top: 4px solid #f3b143;
}
.programs-services-drop-down {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 525px;
  top: 85px;
  width: 213px;
  height: 574px;
  background: #ffffff;
  z-index: 2;
  text-align: center;
  display: none;
}
.option11,
.option11-11 {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 213px;
  height: 41px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #1c4d73;
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}
.option11-11 {
  border-top: 4px solid #f3b143;
}
