.top-nav {
  background-color: #1e1e1e;
  text-align: right;
  height: 50px;
  padding: 5px;
}
.social-img {
  margin-right: 50px;
}
.main-nav {
  background-color: #1c4d73;
  height: 86px;
  text-align: right;
  padding: 0 90px 0 35px;
  position: relative;
  display: flex;
  /* padding-right: 85px; */
  text-align: right;
  justify-content: flex-end;
}
.about-the-door-nav,
.programs-services-nav,
.membership-nav,
.news-nav,
.get-involved-nav,
.contact-nav,
.donate-nav {
  margin: 0 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 86px;
  text-decoration: none;
  color: #ffffff;
}
.about-the-door-nav {
  margin: 0;
}
.nav-donate-link {
  align-self: center;
  text-decoration: none;
}
.donate-nav {
  width: 98px;
  height: 30px;
  border-radius: 5px;
  background-color: #ff0000;
  align-self: center;
  position: relative;
  
}
#door-logo {
  width: 126px;
  height: 71px;
  position: absolute;
  top: 6px;
  left: 30px;
  bottom: 2px;
}

.volunteer-option,
.ways-to-give-option,
.events-option,
.email-newsletter-option {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 139px;
  height: 45px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #1c4d73;
}
.volunteer-option {
  border-top: 4px solid #f3b143;
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}
.events-option {
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}
.ways-to-give-option {
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}


.about-the-door-nav-div {
  display: inline-block;
  height: 86px;
  text-align: center;
}

.about-the-door-drop-down {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  left: 350px;
  top: 85px; */
  position: relative;
  width: 183px;
  height: 380px;
  background: #ffffff;
  z-index: 2;
  text-align: center;
  /* display: none; */
  visibility: hidden;
}
.about-the-door-nav-div:hover .about-the-door-drop-down {
  /* display: inline; */
  visibility: visible;
}
.about-the-door-drop-down:hover {
  /* display: inline; */
  visibility: visible;
}


.programs-services-drop-down {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  left: 525px;
  top: 85px; */
  position: relative;
  width: 213px;
  height: 574px;
  background: #ffffff;
  z-index: 2;
  text-align: center;
  /* display: none; */
  visibility: hidden;
}

.programs-services-nav-div {
  height: 86px;
  display: inline-block;
}
.programs-services-nav-div:hover .programs-services-drop-down {
  visibility: visible;
}
.programs-services-drop-down:hover {
  visibility: visible;
}

.get-involved-drop-down {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  left: 955px;
  top: 85px; */
  position: relative;
  width: 139px;
  height: 180px;
  background: #ffffff;
  z-index: 2;
  text-align: center;
  box-sizing: border-box;
  /* display: none; */
  visibility: hidden;
}

.get-involved-nav-div {
  height: 86px;
  display: inline-block;
}
.get-involved-nav-div:hover .get-involved-drop-down {
  visibility: visible;
}
.get-involved-drop-down:hover {
  visibility: visible;
}



.option1,
.option1-1 {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 183px;
  height: 38px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  color: #1c4d73;
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}
.option1-1 {
  border-top: 4px solid #f3b143;
}

.option11,
.option11-11 {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 213px;
  height: 41px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #1c4d73;
  border-bottom: 1px solid rgba(147, 172, 217, 0.35);
}
.option11-11 {
  border-top: 4px solid #f3b143;
}
.nav-donate-button-text {
  position: relative;
  color: white;
  display: inline;
  top: -27px;
  left: -15px;
  
}